

<table class="table table-hover ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Sexo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="category/view">Mark</a></td>
            <td>23</td>
            <td>Masculino</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>19</td>
            <td>Masculino</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>23</td>
            <td>Feminino</td>
          </tr>
        </tbody>
      </table>