  
<!-- Topo -->
<div class="container"> 
  <div class="row">
    <div class="col-6">
        <img id="logo" src="assets/logo.png" alt="Logo Icarly" />
    </div>
    <div class="col-6">
        <h1 class="destaque">Icarly</h1>
    </div>
  </div>
</div>
<!-- Menu -->
<div class="container">
  
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tabela</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">Formulario</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
               <a class="nav-link" href="#">Pesquisa</a>
            </form>
          </div>
        </nav>
  
</div>
<!-- End Menu -->

<!-- Menu Vertical-->
<div class="container" id="conteudo-fullscreen">
  <div class="row">
    <div class="col-3">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
    </div>
    <div class="col-9">
        <!-- Formulario -->
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-4 mb-3">
              <label for="validationTooltip01">Primeiro nome</label>
              <input type="text" class="form-control" id="validationTooltip01" placeholder="Primeiro nome" required>
              <div class="valid-tooltip">
                Parece bom!
              </div>
            </div>
            <div class="col-4 mb-3">
              <label for="validationTooltip02">Segundo nome</label>
              <input type="text" class="form-control" id="validationTooltip02" placeholder="Segundo nome" required>
              <div class="valid-tooltip">
                Parece bom!
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationTooltipUsername">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                </div>
                <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
                <div class="invalid-tooltip">
                  Porfavor digite um username valido.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="validationTooltip03">Cidade</label>
              <input type="text" class="form-control" id="validationTooltip03" placeholder="Cidade" required>
              <div class="invalid-tooltip">
                Por favor digite uma cidade valida.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationTooltip04">Logradouro</label>
              <input type="text" class="form-control" id="validationTooltip04" placeholder="Logradouro" required>
              <div class="invalid-tooltip">
                Por favor digite um endereco valido.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationTooltip05">CEP</label>
              <input type="text" class="form-control" id="validationTooltip05" placeholder="CEP" required>
              <div class="invalid-tooltip">
                Por favor digite um CEP valido.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Salvar</button>
        </form>
        
        <!-- Tabela -->
        <table class="table table-hover ">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Idade</th>
              <th scope="col">Sexo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>23</td>
              <td>Masculino</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>19</td>
              <td>Masculino</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>23</td>
              <td>Feminino</td>
            </tr>
          </tbody>
        </table>
        
      </div>
  </div>
  <!-- End Menu-->
  
  <!-- Conteudo -->
  
  
  </div>
  <!-- End Conteúdo -->
  <!-- Rodape -->
  <div class="container text-center bg-dark">
    <p style="color: white"><b><i> 2018 - Todos direitos reservados</i></b></p>
  </div>
  
  
  
  
  
  