  <!-- TOPO -->
  <div class="container">
    <div class="row">
        <div class="col-6">
            <img id="logo" src="assets/logo.png" alt="Logomarca muito louca.">
        </div>
        <div class="col-6">
            <p class="destaque">THE WORLD'S LARGEST WEB DEVELOPER SITE</p>    
        </div>
    </div>
</div>

<!-- MENU -->
<div class="container bg-verde-musgo">
    <div class="row">
        <div class="col-8">
            <ul>
                <li><a [routerLink]="['category/list']">TABELA com git</a></li>
                <li><a href="http:www.google.com">Link 1</a></li>
                <li><a href="http:www.google.com">Link 1</a></li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li><a href="http:www.google.com">Link 1</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- CONTEUDO -->
<div class="container">
    <div>
        <ul>
            <li><a href="http:www.google.com">Link 1</a></li>
            <li><a href="http:www.google.com">Link 1</a></li>
            <li><a href="http:www.google.com">Link 1</a></li>
        </ul> 
    </div>
    <div>
        
        <router-outlet></router-outlet>

    </div>
</div>

<!-- RODAPE -->
<div>
    <p><i>2018 - Todos direitos reservados</i></p>
</div>