  
<!-- Topo -->
<div class="container"> 
  <div class="row">
    <div class="col-6">
        <img id="logo" src="assets/logo.png" alt="Logo Icarly" />
    </div>
    <div class="col-6">
        <h1 class="destaque">Icarly</h1>
    </div>
  </div>
</div>
<!-- Menu -->
<div class="container menu">
  <div class="row">
    <div class="col-sm-9">
      <div class="menu-horizontal">
          <ul class="nav">
            <li class="nav-item col-sm-3">
                <a class="nav-link home" href="index.html" >Home</a>
              </li>
              <li class="nav-item col-sm-3">
                  <a class="nav-link tabela"href="tabela.html" >tabela</a>
              </li>
              <li class="nav-item col-sm-3">
                  <a class="nav-link formulario"href="formulario.html" >Formulario</a>
              </li>
            </ul>
      </div>
    </div>
  <div class="col-3">
    <div class="menu-horizontal" style="margin-right: 1%;">
        <ul >
            <li  class="nav-item col-sm-3"><a class="nav-link link1" href="http://www.google.com" target="_blank">Link 1</a> </li>                
        </ul>
     </div>  
  </div>
</div>
</div>
<!-- End Menu -->
<!-- Conteudo -->
<div class="container" id="conteudo-fullscreen">
  <div class="menu-vertical bg-cinza-claro conteudo-fullscreen">
      <ul>
          <li><a href="http://www.google.com" target="_blank">Link 1</a> </li>
          <li><a href="http://www.google.com" target="_blank">Link 2</a> </li>
          <li><a href="http://www.google.com" target="_blank">Link 3</a> </li>
      </ul>        
  </div>
  <div class="main2">
      
      <h1 class="destaque">Mussum Ipsum</h1>
      <p>
          Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Sapien in monti palavris qui num significa nadis i pareci latim. Leite de capivaris, leite de mula manquis sem cabeça. Copo furadis é disculpa de bebadis, arcu quam euismod magna.
          
          Casamentiss faiz malandris se pirulitá. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.
          
          Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Paisis, filhis, espiritis santis. Suco de cevadiss deixa as pessoas mais interessantis.
          
          Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Quem manda na minha terra sou euzis! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Detraxit consequat et quo num tendi nada.
          
          Não sou faixa preta cumpadi, sou preto inteiris, inteiris. A ordem dos tratores não altera o pão duris. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Atirei o pau no gatis, per gatis num morreus. 
          
      </p>
  </div>
</div>
<!-- End Conteúdo -->
<!-- Rodape -->
<div>
  <p ><b><i> 2018 - Todos direitos reservados</i></b></p>
</div>




